@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'GT-America';
    src: url("../fonts/GT-America-Extended-Bold-Trial.woff2") format('woff2');
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}