* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    scroll-snap-align: start;
}

.title-img {
    margin: 8rem auto;
    padding: 2rem;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'GT-America', sans-serif;
    font-size: 3rem;
}

p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

.whitetext {
    color: white;
}

.purpletext {
    color: #CA6CDC;
}

.slide1 {
    background-image: url("../images/title_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide1b {
    background: url("../images/text-bg.svg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.slide1b p {
    max-width: 520px;
    text-align: center;
}

.slide2 {
    background: url("../images/large-text-bg.svg") center/cover no-repeat;
}

.slide3 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide4 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide5 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide6 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide7 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide7b {
    background: url("../images/text-bg.svg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.slide7b p {
    max-width: 550px;
    text-align: center;
}

.slide8 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide8b {
    background: url("../images/text-bg.svg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.slide8b p {
    max-width: 500px;
    text-align: center;
}

.slide8c {
    background: url("../images/large-text-bg.svg") center/cover no-repeat;
}

.slide8d {
    background: url("../images/text-bg.svg") center/cover no-repeat;
}

.slide9 {
    background: url("../images/vis_backgrounds.svg") center/cover no-repeat;
}

.slide10 {
    background: url("../images/large-text-bg.svg") center/cover no-repeat;
}

.slide2 .whitetext {
    margin-left: 9rem;
    margin-top: 10rem;
}

.slide2 h1 {
    margin-right: 4rem;
    margin-top: 25rem;
}

.slide3 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

#eighties-chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#eighties-chart-adjusted {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#eighties-chart-tickets {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

.slide4 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

.slide8c .whitetext {
    margin-left: 20rem;
    margin-top: 12rem;
}

.slide8c h1 {
    margin-right: 15rem;
    margin-top: 25rem;
}

#nineties-chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#nineties-chart-adjusted {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#nineties-chart-tickets {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

.slide5 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

#two-thousands-chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#two-thousands-chart-adjusted {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#two-thousands-chart-tickets {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

.slide6 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

#twenty-tens-chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#twenty-tens-chart-adjusted {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#twenty-tens-chart-tickets {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}


.slide7 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

#twenty-twenties-chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#twenty-twenties-chart-adjusted {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

#twenty-twenties-chart-tickets {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

.slide8 h1 {
    margin-left: 9rem;
    margin-top: 3rem;
}

.slide9 h1 {
    margin-left: 9rem;
    margin-top: 6rem;
}

.slide10 .whitetext {
    margin-left: 9rem;
    margin-top: 10rem;
}

.slide10 h1 {
    margin-left: 4rem;
    margin-top: 20rem;
}

.slide10 p {
    margin-bottom: 15rem;
    /* width: 35rem; */
    max-width: 35rem;
    margin-left: 4rem;
    margin-right: 0;
}



.slide3 h1 {
    margin-top: 4rem;
}

.slide4 h1 {
    margin-top: 4rem;
}

.slide5 h1 {
    margin-top: 4rem;
}

.slide6 h1 {
    margin-top: 4rem;
}

.slide7 h1 {
    margin-top: 4rem;
}

#alltime-chart {
    width: 100%;
    height: 80vh;
}

.slide8 {
    display: grid;
    grid-template-columns: 1fr;
}

#greedy_artist_chart {
    width: 100%;
    height: 100%;
    margin-left: 9rem;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

button:hover {
    text-decoration: none;
}

.chart-wrapper {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.buttons-container {
    padding-top: 3rem;
    padding-left: 1rem;
}

.vis-button {
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin: 0;
    background: none;
    border: none;
    text-align: left;
}

.vis-button.selected {
    color: #CA6CDC;
}

.vis-button.selected::before {
    content: "▶ ";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #CA6CDC;
}

.vis-button:hover {
    color: #CA6CDC;
}

.vis-button:hover::before {
    content: "▶ ";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #CA6CDC;
}

#slide-slider {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 40px;
    bottom: 25px;
}

#slider-track {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 4px;
}

#slider-thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    cursor: grab;
}

#slider-thumb:active {
    cursor: grabbing;
}

.slider-tooltip {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    transform: translate(-50%, -120%);
    opacity: 0;
    transition: opacity 0.12s ease;
    font-family: "Inter", sans-serif;
}

.slider-tooltip.visible {
    opacity: 1;
}

#slider-progress {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    background: white;
    border-radius: 4px;
    width: 0%;
}

#slide-num {
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    color: white;
    font-family: "Inter", sans-serif;
}

#slide-total {
    position: absolute;
    left: 100;
    right: 0;
    top: 80%;
    font-size: 14px;
    color: white;
    font-family: "Inter", sans-serif;
}

.slide8d {
    display: grid;
    grid-template-columns: 1fr;
}

#guess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    font-family: 'Inter', sans-serif;
}

#artist-guess {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #CA6CDC;
    font-size: 16px;
    min-width: 250px;
    background-color: #18142c;
    color: white;
    outline: none;
    transition: border 0.2s;
}

#submit-guess {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #CA6CDC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#submit-guess:hover {
    background-color: #4C46C9;
}

.slide8d .whitetext {
    margin-bottom: 3rem;
}

@media (max-width: 1068px) {
    .slides {
        grid-template-columns: 1fr;
    }

    .slide8c .whitetext {
        margin-left: 5rem;
        margin-top: 10rem;
    }

    .slide8c h1 {
        margin-left: 5rem;
        margin-top: 0rem;
    }

    .slide2 .whitetext {
        margin-left: 5rem;
        margin-top: 5rem;
    }

    .slide2 h1 {
        margin-left: 5rem;
        margin-top: 0rem;
    }

    .slide10 .whitetext {
        margin-left: 5rem;
        margin-top: 5rem;
    }

    .slide10 h1 {
        margin-left: 5rem;
        margin-top: 0rem;
    }

    .slide10 p {
        margin-left: 5rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #eighties-chart,
    #eighties-chart-adjusted,
    #eighties-chart-tickets,
    #nineties-chart,
    #nineties-chart-adjusted,
    #nineties-chart-tickets,
    #two-thousands-chart,
    #two-thousands-chart-adjusted,
    #two-thousands-chart-tickets,
    #twenty-tens-chart,
    #twenty-tens-chart-adjusted,
    #twenty-tens-chart-tickets,
    #twenty-twenties-chart,
    #twenty-twenties-chart-adjusted,
    #twenty-twenties-chart-tickets {
        margin-left: 0rem;
    }

    #greedy_artist_chart {
        margin-left: 0rem;

    }

    .slide9 h1 {
        margin-left: 9rem;
        margin-top: 1rem;
    }

}