* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-snap-align: start;
}

.title-img {
    margin: 8rem auto;
    padding: 2rem;
    width: 100%;
}

h1 {
    color: #5DDC6E;
}

.whitetext {
    color: white;
}

.slide1 {
    background-color: #5A8D4A;
}

.slide2 {
    background-color: black;
}

.slide3 {
    background-color: black;
}

.slide4 {
    background-color: black;
}

.slide5 {
    background-color: black;
}

.slide6 {
    background-color: black;
}

.slide7 {
    background-color: black;
}

.slide8 {
    background-color: black;
}

.slide9 {
    background-color: black;
}